<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <link rel="icon" href="./image/favicon.ico" />
    <title>个人主页</title>
    <link rel="stylesheet" href="./style/global.css" />
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div id="app">
      <!-- 首页 -->
      <div class="box flex-center user ani-fadeIn">
        <div class="user-avater">
          <img class="user-body" src="./image/user_body.png" />
          <img class="user-head" src="./image/user_head.png" />
        </div>

        <div id="userName" class="ani-text name">汪宁</div>
        <div id="userIntro" class="ani-text intro">这里是简单的自我介绍,这里是简单的自我介绍,这里是简单的自我介绍</div>

        <img v-if="boxIndex.length == 0" class="arrow_down" src="./image/icon_arrow_down.png">
      </div>

      <div class="box flex-center overview">
        <div id="overviewTitle" class="ani-text title">技能介绍</div>
        <div v-if="boxIndex.includes(1)" class="title-line"></div>
      </div>

      <div class="box flex-center structure">
        <div id="structureTitle" class="ani-text title">项目介绍</div>
        <div v-if="boxIndex.includes(2)" class="title-line"></div>
      </div>
    </div>

    <script src="./script/vue.min.js"></script>
    <script src="./script/anime.js"></script>
    <script src="./script/echarts.min.js"></script>
    <script src="./script/util.js"></script>
    <script src="./script/index.js"></script>
  </body>
</html>
