body {
  background-color: #ebeff2;
}

#app {
  width: 100vw;
  min-width: 320px;
  max-width: 540px;
  height: 100vh;
  overflow: hidden;
}

.swiper_box {
  width: 100%;
  height: 100vh;
}

/*********************************** part1 */

.user {
  margin: 3rem auto 1rem;
  height: 3rem;
}

.user .user-avater {
  position: relative;
  width: 2.8rem;
  height: 2.8rem;
  background-color: #fff;
  border-radius: 50%;
  border: #ebeff2 0.06rem solid;
}

.user .user-head {
  position: absolute;
  width: 1.8rem;
  bottom: 1.2rem;
  left: 0.52rem;
  transform: rotate(0deg);
  transform-origin: center bottom;
  animation: headAni 5s infinite;
}

@keyframes headAni {
  0% {
    transform: rotate(-8deg);
  }
  35% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(2deg);
  }
  65% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.user .user-body {
  position: absolute;
  width: 2rem;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 80%;
}


/*********************************** part2 */

.summary_list {
  margin: 2rem 0;
}
